.sidebar-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  opacity: 0;
  visibility: hidden;

  transition: 0.3s ease;

  z-index: 1000;
}

.sidebar-overlay.show {
  opacity: 1;
  visibility: visible;
}

.sidebar {
  position: fixed;

  top: 0;
  left: -280px;

  width: 260px;
  height: 100vh;

  background: #111;

  padding: 25px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  transition: left 0.3s ease;

  z-index: 1001;
}

.sidebar.open {
  left: 0;
}

.sidebar h2 {
  color: white;
  margin-bottom: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;

  font-size: 18px;

  padding: 12px 0;

  border-bottom: 1px solid #222;
}

.sidebar a:hover {
  color: #4f46e5;
}

.sidebar-logout {
  margin-top: auto;

  background: #dc2626;
  color: white;

  border: none;

  padding: 12px;

  border-radius: 8px;

  cursor: pointer;
}